@page "/AboutMe"

<div class="aboutme-section">
    <div class="aboutme-left">
        <div class="circle-image">
            <img src="Images/profile.jpg" alt="Luca Orabona" />
        </div>
    </div>
    <div class="aboutme-right">
        <h1>ABOUT ME</h1>
        <p>
            Hi! I’m Luca Orabona, a dedicated Computer Engineering student and passionate Software Developer with a strong drive to create impactful, efficient, and well-structured software solutions.
            My primary area of expertise lies in C# and the .NET framework—tools I genuinely enjoy working with for building powerful backend systems, desktop applications, and web APIs.
            Beyond backend development, I also have a keen interest in web development. I enjoy building interactive and responsive user interfaces using HTML, CSS, and JavaScript with the help of the Blazor Framework.
            I’m a strong believer in continuous learning and enjoy exploring new technologies, tools, and development practices. Whether it’s experimenting with frontend frameworks, diving into cloud services, or optimizing code for performance,
            I thrive on pushing my skills further and delivering clean, maintainable solutions.
        </p>
    </div>
</div>

@code {
    
}