@page "/Contacts"

<div class="contacts-section">
    <h2>MY CONTACTS</h2>

    <div class="social-links">
        <a href="mailto:luca.orabona1210@gmail.com" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-envelope"></i> Email
        </a>
        <a href="https://github.com/LucaOr12" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://www.linkedin.com/in/luca-orabona-4573461b2/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://x.com/LucaOrabona1" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter"></i> Twitter
        </a>
    </div>
</div>

@code {
    
}